:root {
  margin: 0;
  /* font-family:Arial, Helvetica, sans-serif;
  font-weight: normal; */
  text-align: center;
}
.caja-inicio{
  display: flex;
  flex-direction: column;
  margin: 2rem 0.2rem;
}
.titulo_pages{
  background-color: #c6851eff;
  color: white;
  width: 100%;
  font-size: 1.2rem;
}

.main-box{
  width: 100%;
}
.header_box{
  margin-bottom: 0;
}
.header_tit{
  align-items: center;
  padding: 1rem;
  font-size: 4rem;
}
.nav-item{
  font-size: 1.1rem;
}
#cucharon{
  width: 12rem;
  height: 8rem;
  border-radius: 80px 80px 80px 80px;
}
.navContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#carrito{
  font-size: 1.1rem;
}
#iniciar-sesion-nav{
  font-size: 1.1rem;
}
ul{
  list-style-type: none;
  justify-content: space-between;
}
nav{
  align-items: center;
}
nav a{
  text-decoration: none;
  color: black;
}
nav li{
  display: inline;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
nav li:hover{
  border-radius: 3px;
  color: rgb(0, 0, 0);
}
.carrito-listado{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#lista-productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
nav li.active{
  background-color: goldenrod;
}
.nosotros_box{
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.3rem;
}
.img_nosotros{
  display: block;
}
.token-none{
  display: none;
}
#fila-carrito{
  display: flex;
  justify-content: center;
  margin: .5rem .5rem;
}
.mas-menos{
  border: none;
  color: red;
  font-weight: bold;
}
.botones-mas-menos{
  margin-left: 2rem;

}
.footer_box{
  background-color: #d1d4d6ff;
  width: 100%;
  font-size: .8rem;
}
.footer_tit{
  font-size: 1.2rem;
}


@media (max-width: 768px) {
  .nosotros_box {
    font-size: .8rem;
  }

  .img_nosotros{
    display: none;
  }
  .header_tit{
    font-size: 2rem;
  }
  #cucharon{
  width: 5rem;
  height: 4rem;
  border-radius: 80px 80px 80px 80px;
}

.nav-item{
  font-size: .8rem;
}

#carrito{
  font-size: .7rem;
}
#iniciar-sesion-nav{
  font-size: .7rem;
  padding: 3px 4px;
  
}
.titulo_pages{
  
  font-size: .9rem;
}
  }