:root {
  margin: 0;
  /* font-family:Arial, Helvetica, sans-serif;
  font-weight: normal; */
  text-align: center;
}
.titulo_pages{
  background-color: #c6851eff;
  color: white;
  
}
.header_box{
  
  margin-bottom: .2rem;
}
.header_tit{
  align-items: center;
  padding: 1rem;
}
#cucharon{
  width: 12rem;
  height: 8rem;
  border-radius: 80px 80px 80px 80px;
}
ul{
  list-style-type: none;
  justify-content: space-between;
}
nav a{
  text-decoration: none;
  color: black;
}
nav li{
  display: inline-block;
  justify-content: space-between;
  padding: 1rem 2rem;
}
nav li:hover{
  background-color: orange;  
  border-radius: 3px;
  color: black;
}
nav li.active{
  background-color: goldenrod;
}
.main-box{
  width: 100%;
}
.nosotros_box{
  display: flex;
  justify-content: right;
}
.footer_box{
  background-color: #d1d4d6ff;
  width: 100%;
  font-size: .8rem;
}
.footer_tit{
  font-size: 1.2rem;
}

@keyframes cucharon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
