:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}
  
.navBar{
  list-style-type: none;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}
li {
  font-weight: 500;
  color: #020420;
  
  list-style-type: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d7440f;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #a95d2e;
  }
  button {
    background-color: #f9f9f9;
  }
}
