:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}
nav{
  align-items: center;
}/* 
li {
  font-weight: 500;
  color: #020420;
  
  list-style-type: none;
} *//* 
#tarjeta{
 background-color: rgba(255, 253, 253, 0.879);
  width: 100%;
  padding: 1rem .8rem;
  margin: .2rem;
} */
  
  /* 

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d7440f;
} */
button{

  border-radius: solid 10px;
}
.nosotros{
  align-items: center;
}
@media (max-width: 768px) {
  .nosotros {
    font-size: .8rem;
  }
  a:hover {
    color: #f06c1a;
  }
  button {
    background-color: #f9f9f9;
  }
}
